<div class="content">

    <div class="content-title">
      <span class="content-element" id="content-element-title">Educación</span>
      <div class="spacer"></div>
      <img title="Add Education" class="button" src="../../../assets/img/icon_add.png" alt="add" routerLink="/addEducation">
    </div>

    <div *ngFor="let education of ed" class="content-card">
      
      <img *ngIf="education.avatarURL" class="content-element" alt="content-logo" [src]="education.avatarURL">
      <img *ngIf="!education.avatarURL" class="content-element" alt="content-logo" src="../../../assets/img/avatar.jpg">

      <span class="content-element">
        <span class="content-card-title">{{education.title}}</span>
        <span class="content-card-place">{{education.company}}</span>
        <span class="content-card-thin">{{education.datespan}}</span>
        <span class="content-card-thin">{{education.description}}</span>
      </span>

      <div class="spacer"></div>
      
      <img title="Delete Education" class="button" src="../../../assets/img/icon_erase.png" alt="rm" (click)="deleteEducation(education.id)">
      <img title="Edit Education" class="button" src="../../../assets/img/icon_edit.png" alt="ed" routerLink="/updateEducation/{{education.id}}">

    </div>

</div>
