<div class="toolbar">

    <a title="Argentina Programa" href="https://bit.ly/3w3RlTg">
        <img class="toolbar-element" alt="APlogo" width="200" src="../../../assets/img/logo_AP.png">
    </a>

    <span class="toolbar-element">#YoProgramo</span>
    
    <div class="spacer"></div>

    <a class="toolbar-element" href="https://github.com/" title="GitHub">
        <img alt="GHlogo" width="40" src="../../../assets/img/icon_github.png">
    </a>

    <a class="toolbar-element" href="https://ar.linkedin.com/" title="Linkedin">
        <img alt="LIlogo" width="40" src="../../../assets/img/icon_linkedin.png">
    </a>

    <a class="toolbar-element">
      <img id="toolbar-mode" title="Toggle Dark mode" alt="darkmode" width="40" src="../../../assets/img/icon_dark.png" (click)="toggleDarkTheme()">
    </a>
      
    <span class="toolbar-element" id="user">[Admin]</span>
    <!--<span class="toolbar-element" id="user">{{miPorfolio.userName}}</span>-->

    <a href="/login" class="toolbar-element">
        <img id="toolbar-login" title="Log in" alt="login" width="40" src="../../../assets/img/icon_user.png">
    </a>

  </div>