<div class="content" id="form">
    <div class="content-title">
      <span class="content-element" id="content-element-title">Add new Skill</span>
    </div>
  
    <div class="content-card">
      <form class="form" (ngSubmit)="createSkill()">
          <input class="input" type="text" placeholder="Name" size="100" [(ngModel)]="skName" name="skName">
          <input class="input" type="text" placeholder="Value" size="100" [(ngModel)]="skPercentage" name="skValue">
          <div class="form-spacer"></div>
          <input type="image" title="Add new Skill" class="button" src="../../../assets/img/icon_accept.png">          
          <img title="Go back" class="button" src="../../../assets/img/icon_left.png" alt="back" routerLink="/main">
      </form>
    </div>
</div>